<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pliancy - Proximity Card App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/colors.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<script>
$(document).ready(function(){
    var card_hex;
    $("#writebutton").hide();
    $("#scanbutton").click(function(){
        $.getJSON("/read", function(data){
            $("#result").text(data.result);
            $("#writeresult").text("");
            card_hex = data.card_hex;
            if(card_hex){
                $("#writebutton").show();
            } else {
                $("#writebutton").hide();
            };
        });
    });
    $("#writebutton").click(function(){
        if(card_hex){
            $.getJSON("/write?id=" + card_hex, function(data){
                $("#writeresult").text(data.result);
            });
        };
    });
});
</script>

<body> 
    <br><div class="container text-center">
    <div class="jumbotron bg-1">
        <img src="/static/login_logo_lg.jpg" class="img-rounded"/>
        <h2>Proximity Cards</h2>
        <div class="well bg-2">
            <div><button id="scanbutton" class="btn btn-primary btn-block">SCAN</button><br></div>
            <div id="result"></div><br>
            <div><button id="writebutton" class="btn btn-danger btn-block">WRITE TO NEW CARD</button><br></div>
            <div id="writeresult"><br></div>
        </div>
    </div>
</div>
</body>
</html>
