<!DOCTYPE html>
<html ng-app="mainApp">

<head>
    <meta charset="utf-8" />
    <title>Pliancy Proximity Cards</title>
    <link data-require="bootstrap-css@*" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" data-semver="3.3.6" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <!-- AngularJS stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
</head>

<body ng-controller="mainController">
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><img class="navbar-left"  style="height: 100%" src="https://manage.pliancy.com/images/login_logo_lg.png">Proximity Cards</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-controller="navController" uib-collapse="navCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{ active: isActive('/companies')}">
                        <a href="#companies"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Companies</a>
                    </li>
                    <li ng-class="{ active: isActive('/')}">
                        <a href="#/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </header>
    
    <div ng-view></div>

    <script src="/static/script.js"></script>

</body>

</html>
